.map-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
  
  .map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .contact-info p {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  
  .contact-form {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form form input,
  .contact-form form textarea {
    margin-bottom: 1rem;
  }
  
  .contact-form form button {
    margin-top: 1rem;
  }
  .inputmarging{
    margin: 10px;
  }